# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# Rstudio
*.Rproj

# Misc
figure
dev
*~
.Rproj.user
test*

# Data
*log*
caches/
*.RData
*.csv
0_data/
*.xlsx
*.tre
*.pdf
*token*

# Mac
.DS_Store
